* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: #f8fafc;
}
.shop-header {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 160px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 10px auto; 
  background-image: url('../images/chgu-3461.jpg') !important;
  background-size: cover;
  background-position: left top; 
  background-repeat: no-repeat;
}

.shop-header h1 {
  position: relative;
  z-index: 2;
  font-size: 1.8rem; 
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-shadow:  0 2.3px 5.75px rgba(0, 0, 0, 0.35);
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
